
.form-group{
  display: grid;
  gap: 10px;
  width: 500px;
  padding: 10px;
}

h3{
  justify-self: center;
}

.btn-primary{
  width: 100px;
  justify-self: center;
}

.container-productPage{
  display: grid;
  justify-items: center;
  margin-top: 20px;
}
.productList-container{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  padding: 10px;
}


.text-noList{
  grid-column: 2/3;
}



